<div>
    <div>
        <div class="card mb-3 mt-4" style="background-color:#1c1726;">
            <div class="card-body text-light">
                <h5 class="card-header text-center">{{post.subject}}</h5>
                <p class="card-text">{{post.description}}</p>
                <p class="card-footer text-end"><small class="text-light">
                   <a class="postHover link-light text-decoration-underline" href="/users/{{post.user_id}}">{{post.user.name}}</a>
                                    {{format_date post.date_created}}</small>
            </div>
        </div>
    </div>
    <div class="card text-light" id="info" style="background-color:#1c1726;">
        <h2 class="px-1">Comments</h2>
        {{#each Comments}}
        <div class="card mb-3 mt-4" id="comments" style="background-color:#1c1726;">
            <div class="card-body text-light">
                <p class="card-header text-center">{{this.description}}</p>
                <p class="card-footer text-end"><small class="text-light">
                       <a class="postHover link-light text-decoration-underline" href="/users/{{this.user_id}}">{{user.name}}</a>
                                    {{format_date this.date_created}}</small>
                </p>
            </div>
        </div>
        {{/each}}
    </div>

{{!-- This allows a signed in user to create a new post under a certain game or topic --}}
   <div class="card mb-3 mt-4" id="info" style="background-color:#1e153098;">
        {{#if logged_in}}
        <form id="addComment" class="form project">
            <div class="p-3 text-light">
                <label for="postDescription" class="form-label">
                    New Comment
                </label>
                <input id="postDescription" type="text" class="form-control" placeholder="Description">
            </div>
            <div>
                <input type="hidden" value="{{id}}" id="gameId">
                <button id="post-btn" type="submit" class="btn btn-outline-light">Add New Comment</button>
            </div>
        </form>
        {{else}}
        <h5 id="info" class="text-center text-light">Want to join the discussion?</h5>
        <p class="text-center text-light">You must be logged in to comment</p>
        {{/if}}
    </div>

    <script src="/js/newPostBtn.js"></script>
</div>