<div class="bgdrop">
    <div class="container tbox mb-3">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-6">
                <h2 class="text-center text-light">Haze Community</h2>
            </div>
        </div>
    </div>
<div class="container">
        {{#each posts }}
        <div id="post-container">
            <div>
                    <div class="card mb-3 mt-4" id="posts" style="background-color:#1c1726;">
                        <div class="card-body">
                            <h5 class="card-header text-center text-light">{{subject}}</h5>
                            <p class="card-text text-light">{{description}}</p>
                            <p class="card-footer text-end"><small class="text-light">
                                    <a class="postHover link-light text-decoration-underline" href="/users/{{user.id}}">{{user.name}}</a>
                                    {{format_date date_created}}</small>
                            </p>
                        </div>
                    </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
