{{!-- Renders a homepage with different users posts show on it. --}}
{{!-- If we have time we could work in a system that shows most interacted posts at the top --}}
<div class="container border mb-3">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-6">
            <h2 class="text-center">Today's top posts on Haze</h2>
        </div>
    </div>
</div>

{{#each post}}
<div class="card mb-3" id="posts" style="background-color:#1c1726;">
    <a class="text-decoration-none text-light" href="/posts/{{id}}">
        {{!-- <img src="..." class="card-img-top" alt="..."> --}}
        <div class="card-body" id="posts" >
            <h5 class="card-title text-center border-bottom">{{subject}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text text-end border-top"><small class="text-light">
                    <a class="text-decoration-none text-light" href="/users/{{id}}">{{user.name}}</a>
                    {{format_date date_created}}</small>
            </p>
        </div>
    </a>
</div>
{{/each}}