{{!-- This container will render the userName of whoever logs into their profile for Haze --}}

<div class="bgdrop">
  <div class="container tbox">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-5 text-center text-light">
        <h2>Hello, {{userName}}</h2>

      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center text-light">
      <div class="col-5 text-center">
        <em>Welcome to the Haze community</em>
      </div>
    </div>
  </div>

  <div class="container  mt-4 d-flex justify-content-between">
    {{!-- The card container for each of the users post --}}
    <div class="d-flex flex-column flex-md-fill">
      {{#each posts}}
      <div>
        <div class="card mb-3 mt-4" id="posts" style="background-color:#1c1726;">
          <div class="card-body text-light" id="posts">
            <h5 class="card-header border-bottom text-center">{{subject}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-footer border-top text-end"><small class="text-light">{{format_date date_created}}</small>
            </p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="card d-flex text-light" id="aside" style="width: 18rem;">
      <img class="card-img-top" src="{{profilePic}}" alt="profile">
      <div class="card-body">
        <h5 class="card-title">{{userName}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" id="lists">Cras justo odio</li>
        <li class="list-group-item" id="lists">Dapibus ac facilisis in</li>
        <li class="list-group-item" id="lists">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>

<form>
  <div enctype="multipart/form-data" >
       <label for="img-up">Upload image here:</label>
        <input type="file" id="myFile" name="filename" accept="image/*">
      </div>
      <div>

      </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>