{{!-- This container will render the userName of whoever logs into their profile for Haze --}}

<div class="bgdrop">
  <div class="container tbox">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-5 text-center text-light">
        <h2>Hello, {{user_name}}</h2>

      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center text-light">
      <div class="col-5 text-center">
        <em>Welcome to the Haze community</em>
      </div>
    </div>
  </div>

  <div class="container  mt-4 d-flex justify-content-between">
    {{!-- The card container for each of the users post --}}
    <div class="d-flex flex-column flex-md-fill">
      {{#each posts}}
      <div>
        <a href="/games/{{id}}">
          <div class="card mb-3 mt-4" id="posts" style="background-color:#1c1726;">
            <div class="card-body text-light" id="posts">
              <h5 class="card-header border-bottom text-center">{{subject}}</h5>
              <p class="card-text">{{description}}</p>
              <p class="card-footer border-top text-end"><small class="text-light">{{format_date date_created}}</small>
              </p>
            </div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
    <div class="card d-flex text-light" id="aside" style="width: 18rem;">
      {{#if profilePic}}
      <img class="card-img-top" src="data:image/png;base64,{{profilePic}}" alt="profile">
      {{else}}
      <img class="card-img-top" src="https://via.placeholder.com/150" alt="default-profile-pic">
      {{/if}}
      <div class="card-body">
        <h5 class="card-title">{{user_name}}</h5>
        <p class="card-text">{{bio}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" id="lists">Cras justo odio</li>
        <li class="list-group-item" id="lists">Dapibus ac facilisis in</li>
        <li class="list-group-item" id="lists">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>

<form id="profile-form">
  <input type="hidden" value="{{id}}" id="user-id">
  <div enctype="multipart/form-data">
    <label for="img-up">Upload image here:</label>
    <input type="file" id="profile-pic" name="filename" accept="image/*">
  </div>
  <div>
    <label for="bio">Bio:</label>
    <input type="text" id="bio" name="bio">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="/js/profile.js"></script>