{{!-- For the view of a single post when user clicks on it --}}

{{!-- Renders the games title to the top of the page --}}
<div class="container d-flex justify-content-center mb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="fw-bold fs-1">{{game.game_title}}</h1>
        </div>
    </div>
</div>

{{!-- Renders the games banner photo to the top of the page as well --}}
<div class="container mb-3">
    <div class="row d-flex justify-content-center">
        <div class="col-9 ">
            <img src="{{game.banner}}" class="card-img-top" alt="{{game.game_title}}">
        </div>
    </div>
</div>

{{!-- This is where all the posts and topics about a certain game will go --}}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{subject}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text"><small class="text-body-secondary">
                <a class="text-decoration-none text-dark" href="/users/{{user.id}}">{{user.name}}</a>
                {{format_date date_created}}</small>
        </p>
    </div>
</div>

{{!-- This is going to be the card that stores the new post that is created --}}
<div>
    <div class="card mb-3">
        {{#each post}}
        <div class="card-body">
            <h5 class="card-title">{{subject}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text"><small class="text-body-secondary">
                    <a class="text-decoration-none text-dark" href="/users/{{user.id}}">{{user.name}}</a>
                    {{format_date date_created}}</small>
            </p>
        </div>
        {{/each}}
    </div>
</div>



{{!-- This allows a signed in user to create a new post under a certain game or topic --}}
<div class="card">
    <form id="addPost">
    <div class="mb-3">
        <label for="postSubject" class="form-label">
            New post Subject
        </label>
        <input id="postSubject" type="text" class="form-control" placeholder="Subject">
    </div>
    <div class="mb-3">
        <label for="postDescription" class="form-label">
            New Post Description
        </label>
        <input id="postDescription" type="text" class="form-control" placeholder="Description">
    </div>
    <div>
        <button id="post-btn" type="submit" class="btn btn-primary">Add New Post</button>
    </div>
    </form>
</div>







<script src="/js/newPostBtn.js"></script>