{{!-- The name of the users profile you are visiting --}}
<div class="bgdrop">
  <div class="container tbox">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-5 text-center text-light">
        <h2>{{userName}}</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center text-light">
      <div class="col-5 text-center">
        <em>What do we what to put here</em>
      </div>
    </div>
  </div>

  {{!-- Renders another users profile and all their posts and topics --}}
  <div class="container  mt-4 d-flex justify-content-between">
    {{!-- The card container for each of the users post --}}
    <div class="d-flex flex-column flex-md-fill">
      {{#each posts}}
      <div class="userPost">
        <a class="text-decoration-none" href="/games/{{id}}">
          <div class="card mb-3 mt-4" id="posts" style="background-color:#1c1726;">
            <div class="card-body text-light">
              <h5 class="card-header text-center">{{subject}}</h5>
              <p class="card-text">{{description}}</p>
              <p class="card-footer text-end"><small class="text-light">{{format_date date_created}}</small>
              </p>
            </div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>
    <div class="card d-flex text-light" id="aside" style="width: 18rem;">
      {{#if profilePic}}
      <img class="card-img-top" src="data:image/png;base64,{{profilePic}}" alt="profile">
      {{else}}
      <img class="card-img-top" src="https://via.placeholder.com/150" alt="default-profile-pic">
      {{/if}}
      <div class="card-body">
        <h5 class="card-title">{{userName}}</h5>
        <p class="card-text">{{bio}}</p>
      </div>
      <ul class="list-group list-group-flush">
       <li class="list-group-item" id="lists">Console of Choice: {{console}} </li>
        <li class="list-group-item" id="lists">Favorite Game: {{favorite}} </li>
        <li class="list-group-item" id="lists">Currently Playing: {{current}} </li>
      </ul>
      <div class="card-body">
      </div>
    </div>
  </div>